.hero {
    height: 90vh;
    background: url("../../assets/hero-wallpaper.jpg");
    padding: 0;
}

.blur {
    backdrop-filter: blur(3px);
    width: 100%;
}

.hero .container {
    height: 90vh;
}

.hero-image img {
    height: 650px;
}

.hero-container .content {
    color: rgb(255, 42, 42);
    background: rgb(255, 255, 255);
    padding: 40px 20px;
    border-radius: 25px 0 25px 0;
}

.hero-container .content h1{
    font-size: 40px;
    font-weight: bold;
}

.hero-btn {
    background: rgb(255, 42, 42);
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease-in-out .3s;
}

.hero-btn:hover {
    background: white;
    color: rgb(255, 42, 42);
    font-weight: 600;
    transform: translateY(-4px);
}