.wrapper {
    background: rgb(64, 64, 64);
    padding: 50px 100px;
}

.wrapper img {
    height: 200px;
    width: 350px;
}

.wrapper h3 {
    font-size: 15px;
    color: rgb(249, 249, 249);;
}

.wrapper span {
    color: rgb(185, 185, 185);
}

.wrapper .play-btn {
    position: absolute;
    top: 50%;
    right: 50%;
    cursor: pointer;
    transform: translate(+50%,-50%);
}

.wrapper .play-btn img {
    height: 60px;
    width: 60px;
}